*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    
    
    background-position:center top ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    
}

.loading{
    position: relative;
    top: 28rem;
    left: 45%;
    display: none;
    
}

.circles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.circle{
    width: 5rem;
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid black;
    border-radius: 100%;

}

.circle7,.circle8{
    height: 5rem;
}
.circle7 img,.circle8 img{
    width: 80%;
    
}

.inputs{
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 6rem;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    

}

.input{
    width: 0.5rem;
}

.input-area>p{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Varela Round', sans-serif;
}

input{
    display: block;
    width: 5rem;
    font-size: 4rem;
    border-radius: 100%;
    text-align: center;
    border: 3px solid black;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.message{
    font-size: 2rem;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 3rem;
}

.message p{
    margin-bottom: 1rem;
}

#congra,#sorry{
    visibility: hidden;
}

.buttons-area{
    width: 50%;
    margin: auto;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    width: 8rem;
    margin-right: 1rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    
}
#run{
    background-color: lightskyblue;
}

#again{
    background-color: lightcoral;
}

@media screen and (min-width:1400px) {

    .inputs{
        gap: 9rem;
        width: 85.5%;
        
    }
}